<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.lil_muse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstrumentsActivity"
            android:label="@string/title_activity_instruments" >
        </activity>
        <activity
            android:name=".BrassActivity"
            android:label="@string/title_activity_brass" >
        </activity>
        <activity
            android:name=".WoodwindActivity"
            android:label="@string/title_activity_woodwind" >
        </activity>
        <activity
            android:name=".PercussionActivity"
            android:label="@string/title_activity_percussion" >
        </activity>
    </application>

</manifest>
